a[data-v-763db97b] {
  color: #42b983;
}
label[data-v-763db97b] {
  margin: 0 0.5em;
  font-weight: bold;
}
code[data-v-763db97b] {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
.demo {
  color: red;
  font-size: 20px;
}
